form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.meeting-time {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  padding: var(--padding);
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
}