@defer (when !!scheduleClasses()) {
  @for (scheduleClass of scheduleClasses(); track scheduleClass.id) {
    <mat-card [id]="scheduleClass.id"
              [matBadge]="scheduleClass.credits"
              [matBadgeDescription]="scheduleClass.credits+ ' credits'"
              [class]="scheduleClass.color | colorToClass: 'card'">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            @if (scheduleClass?.subjectCode && scheduleClass?.courseNumber) {
              {{scheduleClass.subjectCode}} {{scheduleClass.courseNumber}}
              -
            }
            {{scheduleClass.name}}
          </mat-card-title>

          <mat-card-subtitle>{{scheduleClass.description}}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>

      <mat-card-content>
        @for (meeting of scheduleClass.meetings; track meeting.type) {
          <div class="meeting-time">
            {{meeting.type}}
            -
            @for (meetingTime of meeting.meetingTimes; track meetingTime.startTime) {
              {{meetingTime.days.join(', ')}} {{meetingTime.startTime | time}} to {{meetingTime.endTime | time}}
            } @empty {
              To Be Announced
            }
          </div>
        }

        <div class="status">{{scheduleClass.status}}</div>

        <div class="notes">{{scheduleClass?.notes}}</div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button type="button" class="primary-button"
                (click)="editScheduleClass.emit(scheduleClass)">
          Edit
        </button>

        <button mat-button type="button" class="error-button"
                (click)="deleteScheduleClass.emit(scheduleClass.id)">
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  } @empty {
    No classes yet.
  }
} @placeholder (minimum 500ms) {
  @for (_ of [].constructor(5); track _) {
    <mat-list-item>
    <span matListItemTitle>
      <csb-skeleton [styles]="{width: '100%', maxWidth: '200px'}" />
    </span>
      <span matListItemLine>
      <csb-skeleton [styles]="{width: '100%', maxWidth: '50px'}" />
    </span>
      <span matListItemMeta>
      <csb-skeleton appearance="circle" />
    </span>
      <span matListItemMeta>
      <csb-skeleton appearance="circle" />
    </span>
    </mat-list-item>
  }
}
