<h1 mat-dialog-title>
  {{editing() ? 'Edit' : 'Create'}} Schedule

  @if (combinations().length > 0) {
    <span class="float-right">
      <ng-container [ngTemplateOutlet]="combinationNav" />
    </span>
  }
</h1>

<mat-dialog-content>
  <csb-schedule-form [scheduleForm]="scheduleForm()" />

  @if (combinations().length > 0) {
    <ng-container [ngTemplateOutlet]="combinationNav" />

    <csb-schedule-grid-view
      [scheduleClasses]="selectedCombinationScheduleCourses()"
      [(shownClasses)]="shownCourses"
      (classClicked)="scrollToElementId($event.id)"
    />
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>

  <button mat-flat-button type="button"
          [disabled]="scheduleForm().formGroup.invalid"
          [mat-dialog-close]="scheduleForm().schedule">
    {{editing() ? 'Save' : 'Create'}}
  </button>
</mat-dialog-actions>

<ng-template #combinationNav>
  <div class="flex-row app-gap align-items-center">
      <button mat-icon-button type="button" (click)="previousCombination()">
        <mat-icon matButtonIcon fontIcon="chevron_left" />
      </button>

      <span>{{selectedCombinationIndex()}} / {{combinations().length}}</span>

      <button mat-icon-button type="button" (click)="nextCombination()">
        <mat-icon matButtonIcon fontIcon="chevron_right" />
      </button>
    </div>
</ng-template>
