<div class="tile labels">
  <span [class]="this.dayTileColor() | colorToClass: 'card'">Days</span>

  <span [class]="this.timeTileColor() | colorToClass: 'card'">Times</span>
</div>

@for (dayTile of dayTiles(); track dayTile.id) {
  <div class="tile day" [class]="dayTile.color | colorToClass: 'card'"
       [ngStyle]="dayTile.styles">
    {{dayTile.name}}
  </div>
}

@for (timeTile of timeTiles(); track timeTile.id) {
  <div class="tile time" [class]="timeTile.color | colorToClass: 'card'"
       [ngStyle]="timeTile.styles">
    {{timeTile.name}}
  </div>
}

@for (classTile of classTiles(); track classTile.id) {
  <div class="tile class" tabindex="0"
       [class]="classTile.color | colorToClass: 'card'"
       [ngStyle]="classTile.styles"
       [ngClass]="{'waitlist': classTile.scheduleClass?.status === ScheduleClassStatus.WAITlIST}"
       (keyup)="classTile.scheduleClass ? classClicked.emit(classTile.scheduleClass) : undefined"
       (click)=" classTile.scheduleClass ? classClicked.emit(classTile.scheduleClass) : undefined">
    @if (classTile.scheduleClass?.status === ScheduleClassStatus.WAITlIST) {
      <mat-chip class="error-chip waitlist-chip"
                [highlighted]="true"
                [matTooltip]="((classTile.scheduleClass?.subjectCode && classTile.scheduleClass?.courseNumber) ? (classTile.scheduleClass?.subjectCode+' '+classTile.scheduleClass?.courseNumber) : classTile.scheduleClass?.name)+' class has Waitlist status'">Waitlist</mat-chip>
    }

    @if (classTile.scheduleClass?.subjectCode && classTile.scheduleClass?.courseNumber) {
      <span class="subject-code"
            [title]="classTile.scheduleClass?.subjectCode+' '+classTile.scheduleClass?.courseNumber">
        {{classTile.scheduleClass?.subjectCode}}
        {{classTile.scheduleClass?.courseNumber}}
      </span>
    }

    <span class="name truncate-text" [title]="classTile.name">{{classTile.name}}</span>

    <!-- <span class="description truncate-text" [title]="classTile.scheduleClass?.description">{{classTile.scheduleClass?.description}}</span> -->

    <span class="type" [title]="classTile.meeting?.type">{{classTile.meeting?.type}}</span>

    <span class="times" [title]="classTile.times">{{classTile.times}}</span>

    <span class="location" [title]="classTile.meeting?.location">{{classTile.meeting?.location}}</span>

    <span class="instructor truncate-text" [title]="classTile.meeting?.instructor">{{classTile.meeting?.instructor}}</span>
  </div>
}
