<div class="tile labels">
  <span [class]="this.dayTileColor() | colorToClass: 'card'">Days</span>

  <span [class]="this.timeTileColor() | colorToClass: 'card'">Times</span>
</div>

@for (dayTile of dayTiles(); track dayTile.id) {
  <div class="tile day" [class]="dayTile.color | colorToClass: 'card'"
       [ngStyle]="dayTile.styles">
    {{dayTile.name}}
  </div>
}

@for (timeTile of timeTiles(); track timeTile.id) {
  <div class="tile time" [class]="timeTile.color | colorToClass: 'card'"
       [ngStyle]="timeTile.styles">
    {{timeTile.name}}
  </div>
}

@for (courseTile of courseTiles(); track courseTile.id) {
  <div class="tile course" tabindex="0"
       [class]="courseTile.color | colorToClass: 'card'"
       [ngStyle]="courseTile.styles"
       [ngClass]="{'waitlist': courseTile.scheduleCourse?.status === ScheduleCourseStatus.WAITlIST}"
       (keyup)="courseTile.scheduleCourse ? courseClicked.emit(courseTile.scheduleCourse) : undefined"
       (click)=" courseTile.scheduleCourse ? courseClicked.emit(courseTile.scheduleCourse) : undefined">
    @if (courseTile.scheduleCourse?.status === ScheduleCourseStatus.WAITlIST) {
      <mat-chip class="error-chip waitlist-chip"
                [highlighted]="true"
                [matTooltip]="((courseTile.scheduleCourse?.subjectCode && courseTile.scheduleCourse?.courseNumber) ? (courseTile.scheduleCourse?.subjectCode+' '+courseTile.scheduleCourse?.courseNumber) : courseTile.scheduleCourse?.name)+' class has Waitlist status'">Waitlist</mat-chip>
    }

    @if (courseTile.scheduleCourse?.subjectCode && courseTile.scheduleCourse?.courseNumber) {
      <span class="subject-code"
            [title]="courseTile.scheduleCourse?.subjectCode+' '+courseTile.scheduleCourse?.courseNumber">
        {{courseTile.scheduleCourse?.subjectCode}}
        {{courseTile.scheduleCourse?.courseNumber}}
      </span>
    }

    <span class="name truncate-text" [title]="courseTile.name">{{courseTile.name}}</span>

    <!-- <span class="description truncate-text" [title]="courseTile.scheduleClass?.description">{{courseTile.scheduleClass?.description}}</span> -->

    <span class="type" [title]="courseTile.meeting?.type">{{courseTile.meeting?.type}}</span>

    <span class="times" [title]="courseTile.times">{{courseTile.times}}</span>

    <span class="location" [title]="courseTile.meeting?.location">{{courseTile.meeting?.location}}</span>

    <span class="instructor truncate-text" [title]="courseTile.meeting?.instructor">{{courseTile.meeting?.instructor}}</span>
  </div>
}
