<mat-accordion>
  @for (section of sections(); track section.id) {
    <mat-expansion-panel
      [hideToggle]="section.meetings.length === 0"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Section: {{section.name}}
          @if (courseSelectedSectionId() === section.id) {
            &nbsp;<mat-chip class="secondary-chip" [highlighted]="true">Default</mat-chip>
          }
        </mat-panel-title>
        <mat-panel-description>
          @if (section.meetings.length > 0) {
            {{sectionDescription(section.meetings)}}
          } @else {
            No meetings
          }
        </mat-panel-description>
      </mat-expansion-panel-header>

      @for (meeting of section.meetings; track meeting) {
        <div>
          <p>{{meeting.type}} - {{meeting.location}}</p>
          <p>{{meeting.instructor}}</p>
          @for (meetingTime of meeting.meetingTimes; track meetingTime) {
            <p>{{meetingTime.days.join(', ')}}</p>
            <p>{{meetingTime.startTime}} - {{meetingTime.endTime}}</p>
          } @empty {
            No meeting times added to this meeting.
          }
        </div>
      } @empty {
        No meetings added to this section.
      }

      <mat-action-row>
        @if (courseSelectedSectionId() !== section.id) {
          <button mat-button class="tertiary-button" (click)="defaultSection(section.id)">Set as Default</button>
        }

        <button mat-button class="primary-button" (click)="editSection(section)">Edit</button>
        <button mat-button class="error-button" (click)="deleteSection(section.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  } @empty {
    No sections to display.
  }
</mat-accordion>
