<div class="header">
  <h2 class="title">Schedule Detail</h2>

  <div class="btn-container">
    <button mat-button type="button" (click)="editSchedule(schedule())">
      <mat-icon matButtonIcon fontIcon="edit" />
      Edit
    </button>

    <button mat-button type="button" class="error-button"
            (click)="deleteSchedule()">
      <mat-icon matButtonIcon fontIcon="delete" />
      Delete
    </button>
  </div>
</div>

@defer (when loaded()) {
  @if (schedule(); as schedule) {
    <section class="details">
      <h3 class="schedule-name">{{schedule?.name || 'Unnamed schedule'}}</h3>
      <p class="schedule-description">{{schedule?.description}}</p>
    </section>

    <mat-form-field>
      <mat-label>Days Shown</mat-label>
      <mat-select [(ngModel)]="days" [multiple]="true">
        @for (day of Day | keyvalue: keepSameOrder; track day.key) {
          <mat-option [value]="day.value">{{day.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="times">
      <label for="startTime">Start time</label>
      <input type="time" id="startTime" name="startTime"
             [(ngModel)]="startTime" />

      <label for="endTime">End time</label>
      <input type="time" id="endTime" name="endTime"
             [(ngModel)]="endTime" />
    </div>

    <mat-form-field>
      <mat-label>Time Slot Increment</mat-label>
      <mat-select [(ngModel)]="timeSlotIncrement">
        <mat-option [value]="15">15 minutes</mat-option>
        <mat-option [value]="30">30 minutes</mat-option>
        <mat-option [value]="45">45 minutes</mat-option>
        <mat-option [value]="60">1 hour</mat-option>
        <mat-option [value]="120">2 hours</mat-option>
      </mat-select>
    </mat-form-field>

    <csb-schedule-grid [days]="days()"
                       [timeSlotIncrement]="timeSlotIncrement()"
                       [scheduleClasses]="scheduleClasses() || []"
                       [times]="{start: startTime(), end: endTime()}" />

    <section class="classes">
      <div class="header">
        <h4 class="title">Classes</h4>

        <button mat-button type="button" (click)="addClass()">
          <mat-icon matButtonIcon fontIcon="add" />
          Class
        </button>
      </div>

      <csb-schedule-classes-list
            [scheduleClasses]="scheduleClasses()"
            (editScheduleClass)="editScheduleClass($event)"
            (deleteScheduleClass)="deleteScheduleClass($event)" />
    </section>
  } @else {
    <div class="not-found-container text-center">
      <p>
        We couldn't find the schedule you were looking for. This is either because:
      </p>

      <ul>
        <li>You do not have permission to view this schedule.</li>
        <li>The schedule you are looking for has been moved or deleted.</li>
        <li>
          There is an error in the URL entered into your web browser.
          Please check the URL and try again.
        </li>
      </ul>

      <button mat-stroked-button type="button" [routerLink]="[appRoutes.schedules]">
        <mat-icon matButtonIcon fontIcon="event" />
        Go to Schedules
      </button>
    </div>
  }
} @placeholder (minimum 500ms) {
  Loading...
}
