:host {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

mat-card {
  flex: 1 auto;
  position: relative;

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: calc(var(--padding) / 2);
    border-radius: 0 var(--border-radius);
  }
}

mat-card-actions {
  margin-top: auto;
}
