<div class="card">
  @if (loading()) {
    <mat-progress-bar class="loading-bar" mode="indeterminate" />
  }

  <picture>
    <img priority width="100" height="100"
         ngSrc="assets/svgs/logo.svg" alt="MSU Class Scheduler Logo" />
  </picture>

  <h1 class="title">Welcome to MSU Class Scheduler!</h1>

  <p>
    Craft conflict-free schedules and maximize your time.
    Designed by a student for students.
  </p>

<!--  <p>-->
<!--    Have feedback or feature requests? Share them with us-->
<!--    <a href="#">here</a>. We're always looking for ways to improve!-->
<!--  </p>-->

  <button mat-stroked-button type="button" (click)="signIn()">
    <img matButtonIcon class="google-logo" ngSrc="assets/svgs/google-superg.svg"
         alt="Google Super G Logo" width="24" height="24" />
    Sign in with Google
  </button>
</div>
