<form [formGroup]="classForm().formGroup">
  <div class="flex-row align-items-center app-gap flex-wrap justify-content-center">
    <mat-form-field class="flex-grow" [appearance]="formAppearance">
      <mat-label>Subject Code</mat-label>
      <input matInput type="text" name="subjectCode"
             [formControl]="classForm().subjectCodeCtrl" />
    </mat-form-field>

    <mat-form-field class="flex-grow" [appearance]="formAppearance">
      <mat-label>Course Number</mat-label>
      <input matInput type="number" name="courseNumber"
             [formControl]="classForm().courseNumberCtrl" />
    </mat-form-field>
  </div>

  <mat-form-field [appearance]="formAppearance">
    <mat-label>Credits</mat-label>
    <input matInput type="number" name="credits"
           [formControl]="classForm().creditsCtrl" />
  </mat-form-field>

  <mat-form-field [appearance]="formAppearance">
    <mat-label>Name</mat-label>
    <input matInput type="text" name="name" [formControl]="classForm().nameCtrl" />
  </mat-form-field>

  <mat-form-field [appearance]="formAppearance">
    <mat-label>Description</mat-label>
    <textarea matInput rows="3" type="text" name="description"
              [formControl]="classForm().descriptionCtrl"></textarea>
  </mat-form-field>

  <mat-form-field [appearance]="formAppearance">
    <mat-label>Status</mat-label>
    <mat-select [formControl]="classForm().statusCtrl">
      @for (status of ScheduleClassStatus | keyvalue; track status.key) {
        <mat-option [value]="status.value">{{status.value}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field [appearance]="formAppearance">
    <mat-label>Meeting Days</mat-label>
    <mat-date-range-input [rangePicker]="meetingDaysPicker">
      <input matStartDate placeholder="Start date"
             [formControl]="classForm().startDateCtrl" />
      <input matEndDate placeholder="End date"
             [formControl]="classForm().endDateCtrl" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="meetingDaysPicker" />
    <mat-date-range-picker #meetingDaysPicker />

    @if (classForm().startDateCtrl.hasError('matStartDateInvalid')) {
      <mat-error>Invalid start date</mat-error>
    }
    @if (classForm().endDateCtrl.hasError('matEndDateInvalid')) {
      <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>

  <csb-schedule-class-meetings-form
        [meetingsFormArray]="classForm().meetingsFormArray" />

  <mat-form-field [appearance]="formAppearance">
    <mat-label>Color</mat-label>
    <mat-select [formControl]="classForm().colorCtrl">
      <mat-select-trigger class="flex-row align-items-center app-gap">
        <mat-icon fontIcon="circle"
                  [class]="classForm().color | colorToClass:'icon'" />

        <span [class]="classForm().color | colorToClass:'color'">
          {{classForm().color}}
        </span>
      </mat-select-trigger>

      @for (color of Color | keyvalue; track color.key) {
        <mat-option class="option" [value]="color.value"
                    [class]="color.value | colorToClass:'option'">
          <mat-icon matListItemIcon fontIcon="circle"
                    [class]="color.value | colorToClass:'icon'" />
          {{color.value}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-checkbox [formControl]="classForm().isMSUCourseCtrl">
    Is MSU Course
  </mat-checkbox>
</form>
