<h1 mat-dialog-title>
  {{ editing() ? 'Edit' : 'Create' }} Course Section
</h1>

<mat-dialog-content>
  <csb-course-section-form [sectionForm]="sectionForm()" />
  {{sectionForm().formGroup.value | json}}
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>

  <button mat-flat-button type="button"
          [disabled]="sectionForm().formGroup.invalid"
          [mat-dialog-close]="sectionForm().section">
    {{editing() ? 'Save' : 'Create'}}
  </button>
</mat-dialog-actions>
