:host {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
}

.header, .count-filter-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
