<section class="header">
  <h2 class="title">Schedules</h2>

  <button mat-button type="button" (click)="createSchedule()">
    <mat-icon matButtonIcon fontIcon="add" />
    Schedule
  </button>
</section>

<p class="count">
  {{schedules()?.length || 0}}
  {{schedules()?.length === 1 ? 'Schedule' : 'Schedules'}}
</p>

<mat-chip-listbox [(ngModel)]="schedulesFilter">
  @for (filterOption of ScheduleFilterOption | keyvalue: keepSameOrder;track filterOption.key) {
    <mat-chip-option [value]="filterOption.value">
      {{filterOption.value}}
    </mat-chip-option>
  }
</mat-chip-listbox>

<csb-schedules-list [schedules]="filteredSchedules()"
                    [filterText]="schedulesFilter() === ScheduleFilterOption.ALL ? undefined : schedulesFilter()" />
