@import '../../../../assets/scss/partials/media_queries';

:host {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  height: 56px;
}

.small-nav { display: none; }

@media (max-width: $tabletPortrait) {
  .small-nav { display: flex; }
  .hide-on-large-screens { display: none; }
}
