@import '../../../assets/scss/partials/media_queries';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  min-height: 330px;
  display: grid;
  place-content: center;
  padding: var(--padding);
  text-align: center;
}

.features {
  padding: var(--padding);
}

@media (min-width: $tabletLandscape) {
  .features {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    max-width: 1000px;
  }

  .feature {
    flex: 1 1 33%;
  }
}
