<section class="header">
  <h2 class="title">MSU Class Scheduler</h2>

  <p class="subtitle">Start planning your class schedules.</p>

  <a mat-raised-button [routerLink]="[appRoutes.schedules]">Get started</a>
</section>

<section class="features">
  <div class="feature">
    <h2>Visual Scheduling Made Easy</h2>

    <p>Craft conflict-free schedules and maximize your time.</p>

    <p>The core feature is a familiar weekly grid view, allowing users to easily visualize their schedule, identify conflicts, and optimize their time.</p>
  </div>

  <div class="feature">
    <h2>Help of Gemini</h2>

    <p>Incorporating AI to take scheduling to the next level.</p>

    <p>Users will be able to input their desired classes, and the app will generate multiple schedule options based on various criteria, such as minimizing gaps between classes or prioritizing preferred professors.</p>
  </div>

  <div class="feature">
    <h2>Grade Calculator (Future)</h2>

    <p>Aid in goal setting and progress tracking.</p>

    <p>Planning to add a feature that allows students to input exam scores and class grades to calculate their overall grade for a course.</p>
  </div>
</section>