@import './assets/scss/default-theme.scss';
@import './assets/scss/partials/classes';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", system-ui;
  letter-spacing: normal;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * { box-sizing: border-box; }
}

:root {
  --gap: 1rem;
  --border-radius: 1rem;
  --padding: 1rem;
  --margin: 1rem;
}

/* Added classes to help with autocompletion */
.material-icons-outlined {}
.material-icons-rounded {}
.material-icons-round {}

mat-progress-bar.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
