// https://material.angular.io/guide/theming-your-components
@use 'sass:map';
@use '@angular/material' as mat;

@use './skeleton/skeleton-theme' as skeleton;
@use './top-nav-bar/top-nav-bar-theme' as topAppBar;
@use './schedule-class-form/schedule-class-form-theme' as scheduleClassForm;
@use './schedule-classes-list/schedule-classes-list-theme' as scheduleClassesList;
@use './schedule-grid/schedule-grid-theme' as scheduleGrid;
@use './schedules-list/schedules-list-theme' as schedulesList;
@use './schedule-grid-view/schedule-grid-view-theme' as scheduleGridView;

@mixin componentThemeMixins($theme) {
  @include skeleton.theme($theme);
  @include topAppBar.theme($theme);
  @include scheduleClassForm.theme($theme);
  @include scheduleClassesList.theme($theme);
  @include scheduleGrid.theme($theme);
  @include schedulesList.theme($theme);
  @include scheduleGridView.theme($theme);
}

@mixin color($theme) {
  $has-base: mat.theme-has($theme, base);
  $has-color: mat.theme-has($theme, color);
  $has-typography: mat.theme-has($theme, typography);
  $has-density: mat.theme-has($theme, density);
  $theme-type: mat.get-theme-type($theme);
}

@mixin typography($theme) {}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) { @include color($theme); }

  @if mat.theme-has($theme, typography) { @include typography($theme); }

  @include componentThemeMixins($theme);
}
